@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Popins', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #4C34FF;
  background-color: #f1ecff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: #d8ccff36;
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow:
  0px 0px 17.2px rgba(0, 0, 0, 0.022),
  0px 0px 43.4px rgba(0, 0, 0, 0.031),
  0px 0px 88.6px rgba(0, 0, 0, 0.039),
  0px 0px 182.5px rgba(0, 0, 0, 0.048),
  0px 0px 500px rgba(0, 0, 0, 0.07)
;

  border-radius:25px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color:#4C34FF;
  margin-bottom: auto;
}

.player--active {
  background-color: #ffffff;
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #D8CCFF;
  opacity: 0.8;
  border-radius: 20px;
  color: #4C34FF;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #4C34FF;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #4C34FF;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;

  background-color: #D8CCFF;
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow:
  0px 0px 17.2px rgba(0, 0, 0, 0.022),
  0px 0px 43.4px rgba(0, 0, 0, 0.031),
  0px 0px 88.6px rgba(0, 0, 0, 0.039),
  0px 0px 182.5px rgba(0, 0, 0, 0.048),
  0px 0px 500px rgba(0, 0, 0, 0.07)
;
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius:25px;
}

.player--winner {
  background-color: #0A1D37;
}

.player--winner .name {
  font-weight: 700;
  color: #D8CCFF;
}
.player--winner .score {
  font-weight: 700;
  color: #D8CCFF;
}

.hidden{
  display: none;
}